.musicIcon {
  background-image: url(https://lf16-tiktok-web.ttwstatic.com/obj/tiktok-web-us/tiktok/webapp/main/webapp-mobile/1f379b351b5c1d53e1a9.png);
  background-size: 13px 13px;
  background-repeat: no-repeat;
  background-position: left center;
  margin-top: 2px;
  width: 15px;
  height: 15px;
}
